* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background: url('https://images.unsplash.com/photo-1422390346245-d919e8f237b3?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450')no-repeat fixed center;
  padding-top: 150px;
}

a, h3, h4, h5, h6, li {
  font-family: 'Cinzel', serif;
}

p {
  font-family: 'Slabo 27px', serif;
}
.container {
  max-width: 50%;
}
.jumbotron {
  opacity: 0.9;
  background-color: brown;
  border: 1.5px solid #000;
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
}

button {
  font-family: 'Cinzel', serif;
  margin-left: 5px;
  margin-right: 5px;
}


button.createEventPost {
  background-color: maroon;
  color: white;
}

.well {
  background-color: #ffcb80;
}

.eventPost-photo {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  border: 3px solid brown;
}

.eventPost-photo:hover {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.eventPost.well {
  border: 2px solid maroon;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

img {
  max-width: 100%;
}
.nav {
  color: white;
  opacity: 0.95;
}

.createEventPost {
  margin-bottom: 15px;

}
.createEventPost:hover {
  box-shadow: 1px 1px 1px 1px black;
}

.deleteEventPost {
  padding: 5px;
}

.createEventPostButton, .cancelCreateEventPost {
  margin-top: 5px;
}

.filler {
  height: 6px;
}

.twitter-follow {
  margin-left: 5px;
}
span#logoClick {
  font-family: 'Pinyon Script', cursive;
  letter-spacing: 5px;
  font-size: 26px;
}

h3 {
  font-weight: 600;
}

#tldr {
  font-family: 'Cinzel', serif;
}

.tldrDiv.well {
  text-align: justify;
  background-color: #ffd699;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  box-shadow:  -1px 1px black,
           -2px 2px black,
           -3px 3px black,
           -4px 4px black,
           -5px 5px black;
}


/* twitter share button styling */

.btn-info {
  background-color: #0084b4;
  border: 1px solid transparent;
  color: #fff;
  text-align: center;
}

.btn-primary {
  background-color: #804b00;
}
#logoClick {
  cursor: pointer;
  /*margin-right: 175px;*/
}


#user-menu a {
  color: white;
  padding: 10px;
  margin: 1px;
}

#logoClick:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

@media (max-width: 600px) {
  .container {
    max-width: 75%;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
  }


  #logoClick {
    margin: 0;
  }

  .showTldrs, .editEventPost, .deleteEventPost, .createNewTldr {
    display: block;
    width: 100%;
    margin-top: 5px;
  }

  p {
    padding: 20px;
  }

   .container {
    padding-top: 125px;
  }
}
