* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background: url('https://images.unsplash.com/photo-1422390346245-d919e8f237b3?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450')no-repeat fixed center;
  padding-top: 80px;
}

a, h3, h4, h5, h6, li {
  font-family: 'Cinzel', serif;
}

p {
  font-family: 'Slabo 27px', serif;
  text-shadow: .5px .5px gray;
}
.container {
  max-width: 50%;
}
.jumbotron {
  opacity: 0.9;
  background-color: brown;
}

button {
  font-family: 'Cinzel', serif;
  margin-left: 5px;
  margin-right: 5px;
}


.btn-primary {
  background-color: #804b00;
}

.well {
  background-color: #ffcb80;
}

.eventPost-photo {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  border: 3px solid brown;
}

.eventPost-photo:hover {
  transition: 0.1s;
  width: 450px;
  height: 350px;
}

img {
  max-width: 100%;
}
.nav {
  color: white;
  opacity: 0.95;
}

.createEventPost {
  margin-bottom: 15px;

}
.createEventPost:hover {
  box-shadow: 1px 1px 1px 1px black;
}

h2 {
  font-family: 'Pinyon Script', cursive;
  letter-spacing: 5px;
}

#tldr {
  font-family: 'Cinzel', serif;
}

.tldrDiv.well {
  background-color: #ffd699;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  box-shadow:  -1px 1px black,
           -2px 2px black,
           -3px 3px black,
           -4px 4px black,
           -5px 5px black;
}

/* twitter share button styling */

.btn-info {
  background-color: #0084b4;
  border: 1px solid transparent;
  color: #fff;
  text-align: center;
}
